.mobile__nav-wrapper {
    display: none;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: var(--footer-bg);
    padding: 30px 30px;
    color: var(--footer-text-color);
    a{
        color: var(--footer-text-color);
        transition: color 0.1s ease-in;

        &:hover{
            color: white;
        }
    }

    &--open {
        display: block;
    }
}

.mobile__nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

.mobile__cart {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}

.mobile__nav {
    display: grid;
    gap: 20px;
    font-size: 22px;
}

.mobile__sub__nav {
    padding: 20px 0 0 20px;
    font-size: 16px;
    display: grid;
    gap: 14px;
}
